
<main role="main">

    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <a href="{{ path('app_la_french_room') }}"><img class="bd-placeholder-img card-img-top" width="100%" height="225" src="{{ asset('images/FrenchRoom19-21.png')}}" alt=""></a>
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="{{ path('app_la_french_room') }}"><button type="button" class="btn btn-sm btn-dark bg-secondary">Visiter</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <a href="{{ path('app_le14_18') }}"><img class="bd-placeholder-img card-img-top" width="100%" height="225" src="{{ asset('images/LE14-18.png')}}" alt=""></a>
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="{{ path('app_le14_18') }}"><button type="button" class="btn btn-sm btn-dark bg-secondary">Visiter</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <a href="{{ path('app_l_afro_room') }}"><img class="bd-placeholder-img card-img-top" width="100%" height="225" src="{{ asset('images/AFRO&CARIBEANROOM.png')}}" alt=""></a>
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="{{ path('app_l_afro_room') }}"><button type="button" class="btn btn-sm btn-dark bg-secondary">Visiter</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <a href="{{ path('app_le_live_room') }}"><img class="bd-placeholder-img card-img-top" width="100%" height="225" src="{{ asset('images/LIVEROOM.png')}}" alt=""></a>
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="{{ path('app_le_live_room') }}"><button type="button" class="btn btn-sm btn-dark bg-secondary">Visiter</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <a href="{{ path('app_music_news') }}"><img class="bd-placeholder-img card-img-top" width="100%" height="225" src="{{ asset('images/MusicNews.png')}}" alt=""></a>
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="{{ path('app_music_news') }}"><button type="button" class="btn btn-sm btn-dark bg-secondary">Visiter</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <a href="{{ path('app_news_events') }}"><img class="bd-placeholder-img card-img-top" width="100%" height="225" src="{{ asset('images/NewsEvents.png')}}" alt=""></a>
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="{{ path('app_news_events') }}"><button type="button" class="btn btn-sm btn-dark bg-secondary">Visiter</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
               {# <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                        <div class="card-body">
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>#}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>